{% extends 'courses/base.html' %} {% load static %} {% load course_custom_tags %} {% block title %}Courses{% endblock %} {% block content %}
<div class="container mt-5">
    <h2 class="text-center">Register</h2>
    <form method="post">
        {% csrf_token %} {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.first_name.label_tag }} {{ form.first_name }} {{ form.first_name.errors }}
        </div>

        <div class="mb-3">
            {{ form.last_name.label_tag }} {{ form.last_name }} {{ form.last_name.errors }}
        </div>

        <div class="mb-3">
            {{ form.username.label_tag }} {{ form.username }} {{ form.username.errors }}
        </div>

        <div class="mb-3">
            {{ form.email.label_tag }} {{ form.email }} {{ form.email.errors }}
        </div>

        <div class="mb-3">
            {{ form.password1.label_tag }} {{ form.password1 }} {{ form.password1.errors }}
        </div>

        <div class="mb-3">
            {{ form.password2.label_tag }} {{ form.password2 }} {{ form.password2.errors }}
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'courses/css/Signup.css' %}"> {% endblock %}